
$body: #f5f5f5 !default;
$body-2: #e6ebf0 !default;
$table-header: #e8f0ed !default;

$primary: #202d3e !default;
$secondary-1: #009640 !default;
$secondary-2: #049bd2 !default;
$secondary-3: #2e3d50 !default;
$signup-process-indicator: $secondary-1 !default;

// Makes variables accessible from JavaScript
:export {
  body: $body;
  body2: $body-2;
  tableheader: $table-header;
  primary: $primary;
  secondary1: $secondary-1;
  secondary2: $secondary-2;
  secondary3: $secondary-3;
  signupprocessindicator: $signup-process-indicator;
}
